@charset "UTF-8";
/*水平居中*/
/*居中*/
@font-face {
  font-family: 'serif';
  src: url(../font/webfont.woff); }

@font-face {
  font-family: icon;
  src: url(../font/iconfont.woff); }

@font-face {
  font-family: 'tel';
  src: url(../font/tell.woff); }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #3c3c3c;
  border: 0;
  font-family: 'serif',Consolas; }

.undergo.active .undergo-con span:nth-child(1) p, .undergo.active .undergo-con span:nth-child(2) p, .undergo.active .undergo-con span:nth-child(3) p, .undergo.active .undergo-con span:nth-child(4) p {
  color: #1d1d1b; }

.undergo-con::after, .undergo.active .undergo-con span:nth-child(1)::before, .undergo.active .undergo-con span:nth-child(2)::before, .undergo.active .undergo-con span:nth-child(3)::before, .undergo.active .undergo-con span:nth-child(4)::before {
  background: #1d1d1b; }

.bodys {
  height: 100%;
  overflow: hidden !important; }

@media screen and (min-width: 920px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-2 {
    float: left;
    width: 16.66667%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-3 {
    float: left;
    width: 25%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-4 {
    float: left;
    width: 33.33333%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-5 {
    float: left;
    width: 41.66667%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-6 {
    float: left;
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-7 {
    float: left;
    width: 58.33333%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-8 {
    float: left;
    width: 66.66667%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-9 {
    float: left;
    width: 75%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-10 {
    float: left;
    width: 83.33333%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-11 {
    float: left;
    width: 91.66667%;
    padding-right: 20px;
    box-sizing: border-box; }
  .col-lg-12 {
    float: left;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box; } }

@media screen and (max-width: 900px) {
  .col-md-1 {
    float: left;
    width: 8.33333%;
    box-sizing: border-box; }
  .col-md-2 {
    float: left;
    width: 16.66667%;
    box-sizing: border-box; }
  .col-md-3 {
    float: left;
    width: 25%;
    box-sizing: border-box; }
  .col-md-4 {
    float: left;
    width: 33.33333%;
    box-sizing: border-box; }
  .col-md-5 {
    float: left;
    width: 41.66667%;
    box-sizing: border-box; }
  .col-md-6 {
    float: left;
    width: 50%;
    box-sizing: border-box; }
  .col-md-7 {
    float: left;
    width: 58.33333%;
    box-sizing: border-box; }
  .col-md-8 {
    float: left;
    width: 66.66667%;
    box-sizing: border-box; }
  .col-md-9 {
    float: left;
    width: 75%;
    box-sizing: border-box; }
  .col-md-10 {
    float: left;
    width: 83.33333%;
    box-sizing: border-box; }
  .col-md-11 {
    float: left;
    width: 91.66667%;
    box-sizing: border-box; }
  .col-md-12 {
    float: left;
    width: 100%;
    box-sizing: border-box; } }

.row::after {
  content: '';
  display: block;
  clear: both; }

input {
  display: none; }

header {
  width: 100%;
  position: fixed;
  z-index: 9;
  background: rgba(0, 0, 0, 0.4);
  height: 60px; }
  header .header-bar {
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 22px; }
    header .header-bar .logo {
      display: block;
      float: left;
      width: 23.23176%;
      height: 100%;
      margin: 22px; }
      header .header-bar .logo img {
        width: 300px;
        height: auto; }
    header .header-bar .cole {
      width: 60px;
      height: 45px;
      display: none;
      position: absolute;
      top: 0;
      right: 0; }
    header .header-bar .nav {
      float: right;
      width: 70%;
      right: 20px;
      height: 60px;
      line-height: 60px;
      text-align: right; }
      header .header-bar .nav li {
        display: inline-block;
        width: auto; }
        header .header-bar .nav li a {
          color: #fff;
          padding: 0 10px;
          font-size: 10px; }
  header .music {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 75px;
    right: 10px; }
    header .music a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("../images/music.svg") center/cover no-repeat; }
      header .music a:hover::after {
        content: '播放音乐^v^';
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
        font-size: 14px; }

.hero {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: #fff;
  position: relative;
  background: url(../images/water-image.jpg) center/cover no-repeat; }
  .hero .title {
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    z-index: 11;
    transform: translateY(-50%); }
    .hero .title img {
      width: 400px; }

.main {
  width: 100%;
  height: auto;
  background: #E1EEDC;
  opacity: 0;
  transition: opacity 0.8s ease .5s; }
  .main .main-con {
    width: 100%;
    height: auto; }
    .main .main-con .subsection {
      padding: 90px 20px 0; }
      .main .main-con .subsection .dom {
        width: 100%;
        height: auto;
        margin-bottom: 68px;
        position: relative; }
      .main .main-con .subsection .img {
        float: left;
        width: 57.35098%;
        margin-right: 2.35765%; }
        .main .main-con .subsection .img img {
          width: 100%; }
      .main .main-con .subsection .capion {
        width: 40%;
        height: 100%;
        float: left;
        margin-top: 10%; }
        .main .main-con .subsection .capion p, .main .main-con .subsection .capion span {
          width: 80%;
          margin: 0 auto;
          text-align: center;
          font-size: 16px;
          padding-top: 30px; }
        .main .main-con .subsection .capion span {
          font-size: 16px;
          display: block;
          text-align: left;
          font-weight: 200; }
        .main .main-con .subsection .capion .button {
          width: 100%;
          text-align: center;
          margin: 30px auto; }
          .main .main-con .subsection .capion .button a {
            border: 2px solid #1d1d1b;
            padding: 14px 26px;
            display: inline-block;
            font-size: 11px;
            font-weight: 700;
            transition: all 0.5s ease; }
            .main .main-con .subsection .capion .button a:hover {
              background: #000;
              color: #E1EEDC; }
      .main .main-con .subsection .dom1 div.img {
        float: right; }
    .main .main-con .image-section {
      width: 100%;
      height: 880px;
      background: url(../images/homepage-wide-1.jpg) center/cover no-repeat; }
      .main .main-con .image-section .title-holder {
        position: relative;
        text-align: center;
        top: 55%;
        margin: 0 auto; }
        .main .main-con .image-section .title-holder p {
          font-size: 16px;
          display: inline-block;
          padding: 15px 20px;
          border: 2px solid #fff;
          text-decoration: underline;
          background: #fff;
          color: #000; }
    .main .main-con .module-section {
      width: 100%;
      background: #fff;
      box-sizing: border-box;
      padding: 90px 20px 0; }
      .main .main-con .module-section .itemlist:hover {
        box-shadow: 0 0 30px #666;
        z-index: 10; }
      .main .main-con .module-section .itemlist {
        width: 100%;
        box-sizing: border-box;
        height: auto;
        background: #FBD8C6;
        margin-bottom: 40px; }
        .main .main-con .module-section .itemlist .module-img {
          margin-bottom: 20px; }
          .main .main-con .module-section .itemlist .module-img img {
            width: 100%; }
        .main .main-con .module-section .itemlist .module-description {
          min-height: 200px;
          margin: 0 15px;
          text-align: center; }
          .main .main-con .module-section .itemlist .module-description h1 {
            min-height: 2em;
            font-size: 22px; }
        .main .main-con .module-section .itemlist .module-cta {
          padding: 34px 0;
          text-align: center; }
          .main .main-con .module-section .itemlist .module-cta a {
            color: #000;
            font-size: 16px;
            display: inline-block;
            padding: 15px 20px;
            border: 2px solid #1D1D1B;
            transition: all 0.5s ease; }
            .main .main-con .module-section .itemlist .module-cta a:hover {
              background: #1D1D1B;
              color: #fff; }
      .main .main-con .module-section .list1 {
        background: #E1EEDC; }
      .main .main-con .module-section .list2 {
        background: #E1EEF9; }

.undergo {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .undergo .undergo-con {
    width: 40%;
    height: 80%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: space-between; }
    .undergo .undergo-con span {
      display: block;
      width: 280px;
      height: 30px;
      line-height: 30px;
      position: relative;
      transition: all 0.8s ease; }
      .undergo .undergo-con span p {
        color: transparent;
        display: block;
        width: 0%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.8s ease; }
      .undergo .undergo-con span::before {
        content: '·';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        left: -122%;
        top: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%; }
    .undergo .undergo-con span:nth-child(1) {
      top: 5%; }
    .undergo .undergo-con span:nth-child(2) {
      top: 25%; }
    .undergo .undergo-con span:nth-child(3) {
      top: 45%; }
    .undergo .undergo-con span:nth-child(4) {
      top: 70%; }
  .undergo .close {
    width: 40px;
    height: 40px;
    background: url(../images/close.png) center no-repeat;
    position: absolute;
    top: 0;
    right: 0; }

.undergo-con::after {
  content: '';
  display: block;
  width: 1.5px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  left: -40%;
  transition: all 20s linear; }

.undergo.active {
  top: 0;
  z-index: 10 !important; }
  .undergo.active .undergo-con span p {
    width: 100%;
    visibility: visible; }
  .undergo.active .undergo-con span:nth-child(1)::before {
    transition-delay: 4.5s; }
  .undergo.active .undergo-con span:nth-child(1) p {
    transition-delay: 4.5s; }
  .undergo.active .undergo-con span:nth-child(2)::before {
    transition-delay: 9s; }
  .undergo.active .undergo-con span:nth-child(2) p {
    transition-delay: 9s; }
  .undergo.active .undergo-con span:nth-child(3)::before {
    transition-delay: 13.5s; }
  .undergo.active .undergo-con span:nth-child(3) p {
    transition-delay: 13.5s; }
  .undergo.active .undergo-con span:nth-child(4)::before {
    transition-delay: 18s; }
  .undergo.active .undergo-con span:nth-child(4) p {
    transition-delay: 18s; }
  .undergo.active .undergo-con::after {
    height: 100%; }

.footer {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.8s ease .5s; }
  .footer .backtop-section {
    width: 100%;
    height: 225px;
    position: relative; }
    .footer .backtop-section a {
      width: 100px;
      font-size: 10px;
      margin: 0 auto;
      display: block;
      position: relative;
      top: 40%;
      text-align: center; }
      .footer .backtop-section a img {
        width: 35px;
        height: 35px; }
      .footer .backtop-section a span {
        display: block;
        margin-top: 20px;
        text-align: center; }
  .footer .top-section {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background: #E1EEF9; }
    .footer .top-section .section, .footer .top-section .section1, .footer .top-section .section2 {
      width: 100%;
      height: 130px;
      box-sizing: border-box;
      padding-top: 1px; }
    .footer .top-section .section {
      padding-left: 20px;
      border-right: 1px solid #000; }
    .footer .top-section .img {
      width: 155px;
      height: 70px;
      line-height: 70px;
      margin: 30px auto 0;
      text-align: center; }
    .footer .top-section span {
      font-family: 'tel';
      font-weight: 500;
      font-size: 24px;
      color: #3c3c3c; }
    .footer .top-section p {
      font-size: 20px; }
    .footer .top-section .section1 {
      border-left: 1px solid #000; }
    .footer .top-section .section2 {
      width: 100%;
      padding: 15px;
      color: #3c3c3c;
      position: relative; }
      .footer .top-section .section2 .title {
        width: 200px;
        height: 100%;
        margin: 0 auto; }
        .footer .top-section .section2 .title p {
          font-family: 'icon';
          margin-bottom: 5px; }
          .footer .top-section .section2 .title p span {
            margin-left: 15px; }
  .footer .top-section > div {
    padding: 0; }
  .footer .copy-bottom {
    width: 100%;
    height: 20px;
    padding: 30px 0;
    background: #E1EEF9;
    text-align: center; }

@media screen and (max-width: 900px) {
  header {
    width: 100%;
    height: 45px;
    background: black; }
    header .header-bar {
      padding: 0;
      height: 45px; }
      header .header-bar .logo {
        width: 50%;
        margin: 12px;
        display: inline-block; }
        header .header-bar .logo img {
          width: 250px; }
      header .header-bar .cole {
        display: block; }
      header .header-bar .nav {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        visibility: hidden; }
        header .header-bar .nav .item {
          width: 100%;
          line-height: 45px;
          text-align: left; }
          header .header-bar .nav .item a {
            color: #000; }
    header input:checked ~ .header-bar .nav {
      visibility: visible;
      height: auto;
      background: #fff;
      transition: background 0.35s linear,height 0.35s ease 0.3s; }
  .main {
    width: 100%;
    height: auto; }
    .main .main-con {
      width: 100%;
      height: auto; }
      .main .main-con .image-section {
        height: 560px; }
  .main .main-con .subsection {
    padding: 90px 0 0; }
    .main .main-con .subsection div.img {
      width: 100%;
      margin: 0; }
    .main .main-con .subsection div.capion {
      width: 100%;
      height: 200px;
      margin: 0; }
    .main .main-con .subsection div.dom1 div.img {
      float: none; }
  .footer .top-section {
    padding: 0; }
    .footer .top-section .section {
      border-right: 0;
      border-bottom: 1px solid #1D1D1B; }
    .footer .top-section .section1 {
      border-right: 0;
      border-top: 1px solid #1D1D1B; } }
