@import "mixin";
@font-face {
  font-family: 'serif';
  src:url(../font/webfont.woff);
}
@font-face {
  font-family: icon;
  src:url(../font/iconfont.woff);
}
@font-face {
  font-family: 'tel';
  src:url(../font/tell.woff);
}
*{
  @include base;
  font-family: 'serif',Consolas;
}
@media screen and (min-width: 920px) {
  @for $index from 1 through 12 {
    .col-lg-#{$index} {
      float: left;
      width: percentage($index/12);
      padding-right: 20px;
      box-sizing: border-box;
    }
  }
}
@media screen and (max-width: 900px){
  @for $index from 1 through 12{
    .col-md-#{$index}{
      float: left;
      width: percentage($index/12);
      box-sizing: border-box;
    }
  }
}
.row::after{
  content:'';
  display: block;
  clear:both;
}
input{
  display: none;
}
header{
  width:100%;
  position:fixed;
  z-index: 9999;
  background:rgba(0,0,0,0.4);
  height:60px;
  .header-bar{
    width:100%;
    box-sizing:border-box;
    padding:0 22px;
    //overflow: hidden;
    .logo{
      display: block;
      float: left;
      width:  23.23176%;
      height:100%;
      margin:22px;
      img{
        width:300px;
        height:auto;
      }
    }
    .cole{
      width:60px;
      height:45px;
      display: none;
      position: absolute;
      top:0;
      right:0;
    }
    .nav{
      float:right;
      width:70%;
      right:20px;
      height:60px;
      line-height: 60px;
      text-align: right;
      li{
        display: inline-block;
        width:auto;
        a{
          color:#fff;
          padding: 0 10px;
          font-size: 10px;
        }
      }
    }
  }
}
.hero{
  width:100%;
  height: 100vh;
  color:#fff;
  position: relative;
  background: url(../images/water-image.jpg) center/cover no-repeat;
  .title{
    width:100%;
    text-align: center;
    position:relative;
    top:50%;
    z-index: 11;
    transform:  translateY(-50%);
    img{
      width:400px;
    }
  }
}

.main{
  width:100%;
  height:auto;
  background: #E1EEDC;
  opacity: 0;
  transition: opacity 0.8s ease .5s;
  .main-con{
    width:100%;
    height:auto;
    .subsection{
      padding:90px 20px 0;
      .dom{
        width:100%;
        height:auto;
        margin-bottom: 68px;
        position: relative;
      }
      div.img{
        float:left;
        width: 57.35098%;
        margin-right:2.35765%;
        img{
          width:100%;
        }
      }
      div.capion{
        width:40%;
        height:100%;
        float:left;
        margin-top: 10%;
        p,span{
          width:80%;
          margin:0 auto;
          text-align: center;
          font-size: 25px;
          font-weight: bold;
          padding-top: 30px;
        }
        span{
          font-size: 16px;
          display: block;
          text-align: left;
          font-weight: 200;

        }
        .button{
          width:100%;
          text-align: center;
          margin:30px auto;
          a{
            border: 2px solid #1d1d1b;
            padding:14px 26px;
            display: inline-block;
            font-size: 11px;
            font-weight: 700;
            transition: all 0.3s ease;
            &:hover{
              background:#000;
              color:#E1EEDC;
            }
          }
        }
      }
    }
    .image-section{
      width: 100%;
      height:880px;
      background:url(../images/homepage-wide-1.jpg) center/cover no-repeat;
      .title-holder{
        position: relative;
        text-align: center;
        top:55%;
        margin:0 auto;
        a{
          color:#fff;
          font-size: 16px;
          display: inline-block;
          padding:15px 20px;
          border:2px solid #fff;
          &:hover{
            text-decoration: underline;
            background:#fff;
            color:#000;
          }
        }
      }
    }
    .module-section{
      width:100%;
      //height:auto;
      background: #fff;
      box-sizing: border-box;
      padding: 90px 20px 0;
      .itemlist{
        width:100%;
        box-sizing: border-box;
        height:auto;
        background:#FBD8C6;
        margin-bottom: 40px;
        .module-img{
          margin-bottom:20px;
          img{
            width: 100%;
          }
        }
        .module-description{
          min-height: 185px;
          margin:0 15px;
          text-align: center;
          h1{
            min-height: 2em;
            font-size: 22px;
          }
        }
        .module-cta{
          padding: 34px 0;
          text-align: center;

          a{
            color:#000;
            font-size: 16px;
            display: inline-block;
            padding:15px 20px;
            border:2px solid #1D1D1B;
            &:hover{
              background:#1D1D1B;
              color:#fff;
            }
          }
        }
      }
      .list1{
        background:#E1EEDC;
      }
      .list2{
        background:#E1EEF9;
      }
    }
  }
}

.footer{
  width:100%;
  height:auto;
  opacity: 0;
  transition: opacity 0.8s ease .5s;
  .backtop-section{
    width:100%;
    height:225px;
    position: relative;
    a{
      width:100px;
      font-size:10px;
      margin:0 auto;
      display: block;
      position: relative;
      top:40%;
      text-align: center;
      img{
        width: 35px;
        height:35px;
      }
      span{
        display: block;
        margin-top: 20px;
        text-align: center;
      }
    }

  }
  .top-section{
    width:100%;
    height:auto;
    padding:60px 0;
    background:#E1EEF9;
    .section,.section1,.section2{
      width:100%;
      height:130px;
      box-sizing: border-box;
      padding-top: 1px;
    }
    .section{
      padding-left:20px;
      border-right:1px solid #000;
    }
    .img{
      width:155px;
      height:70px;
      line-height: 70px;
      margin:30px auto 0;
      text-align: center;
    }
    span{
      font-family: 'tel';
      font-weight: 500;
      font-size: 24px;
      color:#3c3c3c;
    }
    p{
      font-size: 20px;
    }
    .section1{
      border-left:1px solid #000;
    }
    .section2{
      width:100%;
      padding:15px;
      color:#3c3c3c;
      position: relative;
      .title{
        width:200px;
        height:100%;
        margin:0 auto;
        p{
          font-family: 'icon';
          margin-bottom: 5px;
          span{
            margin-left: 15px;
          }
        }
      }
    }
  }
  .top-section>div{
    padding:0;
  }
  .copy-bottom{
    width:100%;
    height:20px;
    padding:30px 0;
    background:#E1EEF9;
    text-align: center;
  }
}
@media screen and(max-width:900px) {
  header{
    width: 100%;
    height:45px;
    background:rgb(0,0,0);
    .header-bar{
      padding:0;
      height:45px;
      .logo{
        width:50%;
        margin:12px;
        display: inline-block;
        img{
          width:250px;
        }
      }
      .cole{
        display: block;
      }
      .nav{
        position: absolute;
        top:45px;
        left:0;
        width:100%;
        visibility: hidden;
        .item{
          width:100%;
          //height:45px;
          line-height: 45px;
          text-align: left;
          a{
            color:#000;
          }
        }
      }
    }
    input:checked ~ .header-bar .nav{
      visibility: visible;
      height: auto;
      background: #fff;
      transition: background 0.35s linear,height 0.35s ease 0.3s;
    }
  }
  .main{
    width:100%;
    height:auto;
    .main-con{
      width:100%;
      height:auto;
      .image-section{
        height:560px;
      }
    }
  }
  .main .main-con .subsection{
    div.img{
      width:100%;
      margin:0;
    }
    div.capion{
      width:100%;
      height:auto;
      margin:0;
    }
    div.dom1{
      div.img{
        padding-bottom: 225px;
      }
      div.capion{
        position:absolute;
        bottom:0;

      }
    }
  }
  .footer{
    .top-section{
      padding:0;
      .section{
        border-right:0;
        border-bottom:1px solid #1D1D1B;
      }
      .section1{
        border-right:0;
        border-top:1px solid #1D1D1B;
      }
    }
  }
}